@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*, *:after, *:before {
    -webkit-touch-callout:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    margin: 0;
}
.theme-bg {
    background: #8A1020;
}
input{
    -webkit-user-select:text;
}
#overflowvisible{
    opacity: 1 !important;
}
html {
    font-size:100%;
}
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.icon-logo {
    background: url("../img/logo.png") no-repeat;
    width: 35px;
    height: 35px;
}
.panel {
    background: #efeff4;
}
.page, .pages {
    background: #efeff4;
}
iframe {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
}
.slider {
    height: 100%;
}
.logo {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
 }
.fa-camera {
    float: right;
    font-size: 20px;
    line-height: 34px;
}
.bar.bar-header {
    border-bottom: 1px solid #e8e8ea;
}
.menu li {
    float: left;
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}
.menu li:last-child {
    margin-right: 0;
}
.preloader-indicator-overlay {
    background: #fff;
    z-index: 9999;
}
.preloader-indicator-modal {
    background: #fff;
}
.tabs-animated-wrap {
    height: -webkit-calc(100% - 69);
    overflow: hidden;
}
/*------------header------------*/
.navbar {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.navbar.theme-bg {
    color: #fff;
}
.buttons-row.theme-bg .tab-link {
    color: rgba(255,255,255,0.8);
}
.buttons-row.theme-bg {
    position: absolute;
    width: 100%;
    z-index: 99999;
    top: 44px;
    left: 0;
}
.tabs-animated-wrap > .tabs > .tab {
    width: 100%;
    height: 100%;
}
.tab-link.button {
    overflow: visible;
}
.buttons-row .button, .buttons-row .button:first-child {
    border-radius: 0;
    border: none;
}
.buttons-row.theme-bg .tab-link.button.active {
    background: none;
    color: rgba(255,255,255,1);
}
.triangle {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #8a1020 transparent transparent transparent;
    z-index: 5;
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
}
.navbar {
    border-bottom: 1px solid #720c18;
}
.buttons-row.theme-bg .tab-link.button {
    line-height: 24px;
    height: 25px;
}
.navbar-through .page-content, .navbar-fixed .page-content {
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}
.navbar-through .page-content.standard, .navbar-fixed .page-content.standard {
    padding-top: 44px;
}

.navbar-through .page-content.item-page , .navbar-fixed .page-content.item-page  {
    padding-top: 44px;
    overflow: auto;
    background: #fff;
}
.inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    /*height: 35px;*/
    clear: both;
}
.main-menu {
    width: 100%;
    height: 25px;
}
.menu.fa.fa-navicon {
    font-size: 22px;
}
/*------------content------------*/
.tabs-animated-wrap > .tabs > .tab {
    overflow: auto;
    /*-webkit-overflow-scrolling: touch;*/
    /*-webkit-transform: translate3d(0,0,0);*/
    /*transform: translate3d(0,0,0);*/
    /*-webkit-backface-visibility: hidden;*/
    /*-webkit-perspective: 800;*/
    /*-webkit-transform-style: preserve-3d;*/
    min-height: 100%;
    min-width: 100%;
}
.tab .list-block {
    margin: 0;
}
.tab .list-block ul:first-child {
    border-top: none;
}
.file-uploader {
    width: 100%;
}
.news-list ul {
    border-bottom: none;
    background: none;
}
.news-list ul .list-wrap {
    background: #fff;
    padding: 5px 0;
}
.news-list ul .list-wrap.without-bg {
    background: transparent;
    padding: 0;
}
.news-list li.list-line {
    border-bottom: 1px solid #c8c7cc;
    height: 1px;
    width: 100%;
}
.news-list.list-block .item-inner {
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
   -webkit-box-direction: normal;
   -webkit-box-orient: vertical;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;

}
.list-block.news-list .item-title-row {
    -webkit-box-ordinal-group: 1;
     -webkit-order: 0;
     order: 0;
     -webkit-box-flex: 0;
     -webkit-flex: 0 1 auto;
     flex: 0 1 auto;
     -webkit-align-self: auto;
     align-self: auto;
}
.list-block.news-list .item-title {
    font-size: 15px;
    max-height: 30px;
    height: auto;
    line-height: 15px;
    -webkit-line-clamp: 2;
    white-space: normal;
    color: #8A1020;
}
.list-block.news-list .item-text {
    font-size: 13px;
    max-height: 43px;
    height: auto;
    line-height: 14px;
    margin-top: 3px;
    -webkit-line-clamp: 3;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
    color: #000000;
}
.item-text iframe{
    width: 100%;
}
.list-block.news-list .item-after {
    font-size: 11px;
    color: #540710;
    position: absolute;
    bottom: -15px;
    left: 0;
}
.list-block.news-list .item-media+.item-inner .item-after{
    bottom: 10px;
}
.list-block.news-list .item-inner {
    padding: 0 7px 0 0;
}
.list-block.news-list .item-media+.item-inner {
    margin-left: 7px;
}
.list-block.news-list .item-content {
    padding: 0 0 0 7px;
    position: relative;
    margin-bottom: 20px;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    /*?????????????*/
}
.list-block.media-list.news-list .item-media, .list-block li.media-item .item-media {
    padding-top: 0;
    padding-bottom: 0;
}
.list-block.news-list .item-media {
    position: relative;
}
.item-media.with-img {
    width: 82px;
    height: 52px;
}
.news-list.blogs .item-media.with-img {
    width: 52px;
    height: 52px;
}
.news-list .item-media img {
    width: 84px;
    height: 52px;
}
.news-list.blogs .item-media img {
    width: 52px;
    height: 52px;
}
.no-image {
    background: url("../img/no_image_available.png") no-repeat -15px 0;
    background-size: auto 52px;
    width: 100%;
    height: 100%;
}
.item-content a {
    color: #8a1020;
}
.list-block .item-after {
    margin-left: 0;

}
.send-photo, .send-button {
    width: 100%;
}
.send-photo-form {
    /*margin: 0 10px;*/
}
.list-block.send-photo-form .item-inner {
    padding-right: 0;
    margin: 0 7px;
    width: auto;
}
.infinite-scroll-preloader {
    text-align: center;
    height: 35px;
    position: relative;
}
.infinite-scroll-preloader .preloader {
    width:30px;
    height:30px;
}
.infinite-scroll-preloader .preloader.infinite{
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s step-end infinite;
    animation: preloader-spin 1s step-end infinite;
}
.list-wrap {
    width: 100%;
    display: block;
    overflow: hidden;
}
.list-wrap:first-child .content-block-title {
    margin-top: 20px;
}

.pull-to-refresh-layer {
    position: absolute;
    position: relative;
     margin-top: -44px;
    left: 0;
    width: 100%;
    height: 44px;
    right: 0;
}
.navbar-through .page-content.pull-to-refresh-content , .navbar-fixed .page-content.pull-to-refresh-content  {
    padding-top: 69px;
}
.item-page-wrap {
    padding: 7px;
}
.item-page-wrap .item-title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.item-page-wrap .item-media {
    width: 100%;
}
/*------------settings------------*/
.settings-page .list-block, .settings-page .item-detail {
    margin: 0 0px 15px;
}
.content-block {
    /*margin: 35px 0;*/
    padding: 0;
    color: #6d6d72;
}
.settings-page .list-block .item-media + .item-inner {
    /*margin-left: 0px;*/
}
.settings-page .list-block ul {
    background: 0;
    border-top: 1px solid #EBE9E9;
    border-bottom: 1px solid #EBE9E9;

}
.settings-page .item-content {
    color: #6d6d72;
    margin: 10px 0 0 0;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    border: none;
    box-shadow: none;
    padding: 0 0 0 10px;
}
.settings-page .label-radio.item-content {
    box-shadow: none;
    border: none;
    box-sizing: border-box;

}
.settings-page .language {
    color: #8A1020;
}
.settings-page .list-block .item-inner {
    border: none;
}
.settings-page .accordion-item-content {
    background: #fff;
}
.settings-page .content-block-inner {
    margin-left: 0;
}
.about-block p {
    margin-bottom: 5px;
}
.about-block a{
    color: #8A1020;;
}

/*.navbar-from-left-to-center .buttons-row, .navbar-from-right-to-center .buttons-row {
    -webkit-animation: navbarElementFadeIn 400ms forwards;
    animation: navbarElementFadeIn 400ms forwards;
    opacity: 1;
}
.navbar-from-center-to-right .buttons-row,  .navbar-from-center-to-left .buttons-row {
  -webkit-animation: navbarElementFadeOut 400ms forwards;
  animation: navbarElementFadeOut 400ms forwards;
  opacity: 0;
}*/



.navbar-fade-out {
  -webkit-animation: navbarElementFadeOut 400ms forwards;
  animation: navbarElementFadeOut 400ms forwards;

}

.navbar-fade-in {
    -webkit-animation: navbarElementFadeIn 400ms forwards;
     animation: navbarElementFadeIn 400ms forwards;
}

/* One Itam */

.item-page.page-content{
    padding-top: 54px;
}
.item-page-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.item-wrap {
    display: flex;
    height: 100%;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.item-page .item-title {
    font-size: 18px;
    line-height: 18px;
    padding: 0 7px;
    margin-bottom: 15px;
    color: #8A1020;
}
.item-page .item-text {
    font-size: 15px;
    line-height: 15px;
    padding: 0 7px 10px;
    color: #000000;
}
.item-page .item-text a {
    color: #8A1020;
}
.item-page .item-text p {
    margin-bottom: 15px;
}
.item-page .item-text p:last-child {
    margin-bottom: 0;
}
.item-page .item-media img {
    width: 100%;
    height: 100%;
}
.navbar a.link.comments-link {
    background: url("../img/icon-comments.png")no-repeat center 10px;
    background-size: 80%;
    font-size: 12px;
}
.navbar #comments_count.active-state {
    opacity: 1;
}
.navbar a.link.comments-link.no-comments {
    pointer-events: none;
    opacity: 0.3;

}
.item-page-wrap {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
}
.item-inner, .item-wrap {
    width: 100%;
}

/*comments*/
.page-content.comments-page {
    padding-top: 44px;
}
.comments-page .item-page-wrap>div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}
.comments-page .item-page-wrap>div:last-child {
    border: none;
}
.comments-page .item-page-wrap>div.preloader-indicator-modal{
    border-bottom: none
}
.comments-page .pb10 {

}
.comments-page .comtd1 {
    float: left;
    width: 35px;
    height: 35px;

}
.comments-page .comtd2 {
    font-size: 13px;
    overflow: hidden;
    width: 100%;
}
.comments-page .comtd2>table{
    float: left;
}

.comments-page .user{
    vertical-align: top;
    display: inline-block;
    line-height: 100%;
    color: #8A1020;
}
.comments-page .comdate {
    font-size: 11px;
    color: #999;
    margin: 0;
    display: block;
    line-height: 100%;
    margin-top: -2px;
}

.comments-page .comtd2>div {
    padding: 5px;
    white-space: normal;
    font-size: 14px;
    line-height: 15px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}
.comments-page .comtd2>div img {
    width: 100%;
}
.comments-page  .comtd4 img{
    width: 18px;;
    display: inline-block;
}
.comments-page  .comtd5 {
    float: right;
    color: #540710;
}


.comments-page>.item-page-wrap>div>.comansd {
    padding-left: 20px;
}
/*.comments-page .item-wrap>div {*/
    /*width: 100%;*/
/*}*/
#contentOneItem,#commentsOneItem{
    margin-top: 15px;
}
#contentOneItem img {
    width: 100%;
}
#contentOneItem .preloader,#commentsOneItem .preloader{
    margin: 15px auto 0 auto;
    display: block;
    width: 30px;
    height: 30px;
}
.disable-touch{
    pointer-events: none;
}
.no-info {
    padding-top: 30px;
    text-align: center;
}
