*, *:after, *:before {
    -webkit-touch-callout:none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.theme-bg {
    background: #8A1020;
}
input{
    -webkit-user-select:text;
}
html {
    font-size:100%;
}
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider {
    height: 100%;
}
.logo {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
 }
.fa-camera {
    float: right;
    font-size: 20px;
    line-height: 34px;
}
.bar.bar-header {
    border-bottom: 1px solid #e8e8ea;
}
.menu {
    width: 100%;
    display: block;
}
.menu li {
    float: left;
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}
.menu li:last-child {
    margin-right: 0;
}
.preloader-indicator-overlay {
    background: #f7f7f8;
}
.tabs-animated-wrap {
    height: calc(100% - 29px);
}
/*------------header------------*/

.navbar.theme-bg, .buttons-row.theme-bg .tab-link {
    color: #fff;
}
.buttons-row {
    position: relative;
}
.tab-link.button {
    overflow: visible;
}
.buttons-row .button, .buttons-row .button:first-child {
    border-radius: 0;
    border: none;
}
.tab-link.button.active {
    background: none;
}
.tab-link.active:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #8a1020 transparent transparent transparent;
    z-index: 5;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.navbar {
    border-bottom: 1px solid #720c18;
}
.buttons-row.theme-bg .tab-link.button {
    line-height: 24px;
    height: 25px;
}
.navbar.theme-bg {
    height: 35px;
}
.toolbar-through .page-content, .toolbar-fixed .page-content, .tabbar-through .page-content, .tabbar-fixed .page-content,
.navbar-through .page-content, .navbar-fixed .page-content {
    padding: 35px 0;
}
.navbar a.link, .toolbar a.link, .navbar .center {
    line-height: 35px;
    height: 35px;
}
.navbar a.icon-only, .toolbar a.icon-only {
    min-width: 35px;
}
.navbar .icon-only {
    color: #fff;
}