<div>
    <div class="bar bar-header bar-balanced">
        <button class="button button-icon icon ion-navicon button-clear"></button>
        <div class="h1 title"><img class="logo" ng-src="../img/logo.png" /></div>
        <i class="button button-clear fa fa-camera"></i>
    </div>
        <div class="tabs-striped tabs-top tabs-background-positive tabs-light">
            <div class="tabs">
                <a class="tab-item active" href="#">
                    <i class="icon ion-home"></i>
                    Test
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-star"></i>
                    Favorites
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-gear-a"></i>
                    Settings
                </a>
            </div>
    </div>
</div>