<% itemLength=items.length%>
<% renderedCount=listView.indexes[cacheKey]%>
<%var iteration=0%>
<% _.each(items,function(oneItem,index){ %>
         <%=console.log('absqwer')%>
         <%if (index>=renderedCount&&iteration<limit){%>
             <% if(index == 0 || (listView.previousDate&&!baseApplication.helpers.compareTwoDates(oneItem.pubDate, listView.previousDate))) { %>
                <%if(index&&listView.previousDate&&!baseApplication.helpers.compareTwoDates(oneItem.pubDate, listView.previousDate)){%>
                     <li class="list-line"></li>
                     <%listView.previousDate=oneItem.pubDate%>
                <%}%>
                <li class="list-wrap without-bg">
                    <div class="content-block-title"><%=baseApplication.helpers.getShortItemDate(oneItem.pubDate,true)%></div>
                </li>
             <% } %>
                <%if (!listView.previousDate){listView.previousDate=oneItem.pubDate}%>
                <li class="list-wrap">
                    <!--<div class="content-block-title"><%=baseApplication.helpers.getShortItemDate(oneItem.pubDate,true)%></div>-->
                     <div class="item-content"  data-index="<%=index%>">
                         <div class="item-media with-img">
                             <% if(oneItem.smallImg){ %>
                                <img src="<%=oneItem.smallImg %>" />
                             <% } else { %>
                                <div class="no-image"></div>
                             <% } %>
                                <div class="item-after"><%=baseApplication.helpers.getTime(oneItem.pubDate)%></div>
                         </div>
                         <div class="item-inner">
                             <div class="item-title-row">
                                 <div class="item-title"><%=oneItem.title%></div>
                             </div>
                             <div class="item-text"><%=oneItem.shortDescription%></div>
                         </div>
                     </div>
                </li>
                <%iteration++%>
         <%}%>
<% }) %>