<div class="list-block media-list">
   <ul>
        <% _.each(items,function(oneItem,index){       %>
       <li><a href="#" class="item-link item-content" onclick="baseApplication.router.loadPage('oneItemNews') " >
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><%=oneItem.title%></div>
                                <div class="item-after"><%=oneItem.pubDate%></div>
                            </div>
                            <div class="item-text"><%=oneItem.description.__cdata%></div>
                        </div></a>
              </li>
       <% }) %>

   </ul>
</div>