<!-- Top Navbar-->
      <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <!-- Right link contains only icon - additional "icon-only" class-->
                <a href="#" class="link icon-only open-panel"><i class="icon menu fa fa-navicon"></i></a>
            </div>
            <!-- We have home navbar without left link-->
            <div class="center sliding">Awesome app</div>
            <div class="right">
                <!-- Right link contains only icon - additional "icon-only" class-->
                Гайка
            </div>
        </div>
      </div>