<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <!-- Right link contains only icon - additional "icon-only" class-->
            <a href="#" class="link icon-only open-panel"><i class="icon menu fa fa-navicon"></i></a>
        </div>
        <!-- We have home navbar without left link-->
        <div class="center sliding">
            <div class="webkitbox title-time">
                <span class="title">Awesome</span>
                <span id="time" class="time"></span>
            </div>
        </div>
        <div class="right">
            <!--&lt;!&ndash; Right link contains only icon - additional "icon-only" class&ndash;&gt;-->
            <!--<a href="#" onclick="baseApplication.pagesRouter.loadPage('map',{model:{},viewParams:{swipeBackPage:false}})" class="close-panel link icon-only"><i class="icon location fa fa-map-marker"></i></a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-fixed">
    <!-- Page, data-page contains page name-->
    <div data-page="index" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="buttons-row">
                <a href="#tab1" class="tab-link active button">Tab 1</a>
                <a href="#tab2" class="tab-link button">Tab 2</a>
                <a href="#tab3" class="tab-link button">Tab 3</a>
            </div>
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <div id="tab1" class="tab active">
                        <div class="content-block">
                            <p>This is tab 1 content</p>
                            <p class="">Lorem ipsum dolor sit amet1.</p>
                        </div>
                    </div>
                    <div id="tab2" class="tab">
                        <div class="content-block">
                            <p>This is tab 2 content</p>
                            <p>Ut ac lobortis lacus, non pellentesque arcu2.</p>
                        </div>
                    </div>
                    <div id="tab3" class="tab">
                        <div class="content-block">
                            <p>This is tab 3 content</p>
                            <p>Nulla gravida libero eget lobortis iaculis3.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>