<!-- Left view -->
<div class="navbar">
         <div class="navbar-inner">
             <div class="left">
                 <!-- Right link contains only icon - additional "icon-only" class-->
                 <div class="left"><a href="#" class="back link color-white ajax"><i class="icon icon-back"></i><span>Головна</span></a></div>
             </div>
             <div class="right">
                 <a href="#" id="comments_count" class="link item-link icon-only comments-link no-comments"><span><%=commentscount %></span></a>
                <a href="#" id="share" class="share link item-link icon-only"><i class="icon fa fa-share-alt"></i></a>
            </div>
         </div>
     </div>

<div class="view view-main left-view">
  <div class="page" data-page="oneItem">
      <div class="page-content item-page">
          <div class="item-page-wrap">
              <div class="item-wrap">
              <div class="item-inner">
                   <div class="item-title-row">
                       <div class="item-title"><%=title%></div>
                   </div>
                  <% if(smallImg){ %>
                      <div class="item-media"><img src="<%=smallImg%>" width="100%" /></div>
                  <% } %>
                   <div class="item-text external" id="contentOneItem">
                       <div class="preloader"></div>
                   </div>
               </div>
               </div>
          </div>
      </div>
  </div>          
</div>

