<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">About</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon menu fa fa-navicon"></i></a>
        </div>
    </div>
</div>
<div class="pages">

    <div data-page="sendPhotos" class="page">
        <div class="page-content">
            <div class="content-block">
                <div class="content-block-title">Send photo</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-inner">
                                <div class="item-title label">Name</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-inner">
                                <div class="item-title label">Description</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>